/* reset */
* {
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

body {
  font-family: '맑은 고딕', arial, sans-serif;
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

/* header */
header h1 {
  padding: 10px;
}

nav {
  background: #4f4fdf;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

nav a {
  display: block;
  padding: 14px 20px;
  color: #fff;
}

/* main */
main {
  padding: 10px;
}

main h2 {
  color: #2e2ee0;
  line-height: 60px;
}

main input[readOnly] {
  background: #ddd;
}

.write-box {
  width: 60%;
  margin-bottom: 10px;
  text-align: right;
}

.write-box .btn-write {
  padding: 5px 20px;
  background: #444491;
  border: none;
  color: #fff;
  cursor: pointer;
}

.data-list {
  width: 60%;
  border-collapse: collapse;
}

.data-list th,
.data-list td {
  border: 1px solid #ccc;
  line-height: 40px;
  text-align: center;
}

.data-list th {
  background: #a7a7ea;
}

.data-list button {
  padding: 5px 10px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.data-list button~button {
  margin-left: 10px;
}

.data-list .btn-change {
  background: #2536cc;
}

.data-list .btn-delete {
  background: #cc2525;
}

/* 메뉴별 테이블 크기 */
.data-list-goods th:nth-of-type(1),
.data-list-goods td:nth-of-type(1) {
  width: 20%;
}

.data-list-goods th:nth-of-type(2),
.data-list-goods td:nth-of-type(2) {
  width: 30%;
}

.data-list-goods th:nth-of-type(3),
.data-list-goods td:nth-of-type(3) {
  width: 30%;
}

.data-list-goods th:nth-of-type(4),
.data-list-goods td:nth-of-type(4) {
  width: 20%;
}

.data-list-fruits th:nth-of-type(1),
.data-list-fruits td:nth-of-type(1) {
  width: 10%;
}

.data-list-fruits th:nth-of-type(2),
.data-list-fruits td:nth-of-type(2) {
  width: 30%;
}

.data-list-fruits th:nth-of-type(3),
.data-list-fruits td:nth-of-type(3) {
  width: 10%;
}

.data-list-fruits th:nth-of-type(4),
.data-list-fruits td:nth-of-type(4) {
  width: 10%;
}

.data-list-fruits th:nth-of-type(5),
.data-list-fruits td:nth-of-type(5) {
  width: 20%;
}

.data-list-fruits th:nth-of-type(6),
.data-list-fruits td:nth-of-type(6) {
  width: 20%;
}

.data-list-noodle th:nth-of-type(1),
.data-list-noodle td:nth-of-type(1) {
  width: 10%;
}

.data-list-noodle th:nth-of-type(2),
.data-list-noodle td:nth-of-type(2) {
  width: 15%;
}

.data-list-noodle th:nth-of-type(3),
.data-list-noodle td:nth-of-type(3) {
  width: 15%;
}

.data-list-noodle th:nth-of-type(4),
.data-list-noodle td:nth-of-type(4) {
  width: 10%;
}

.data-list-noodle th:nth-of-type(5),
.data-list-noodle td:nth-of-type(5) {
  width: 15%;
}

.data-list-noodle th:nth-of-type(6),
.data-list-noodle td:nth-of-type(6) {
  width: 15%;
}

.data-list-noodle th:nth-of-type(7),
.data-list-noodle td:nth-of-type(7) {
  width: 20%;
}

.data-list-book th:nth-of-type(1),
.data-list-book td:nth-of-type(1) {
  width: 5%;
}

.data-list-book th:nth-of-type(2),
.data-list-book td:nth-of-type(2) {
  width: 15%;
}

.data-list-book th:nth-of-type(3),
.data-list-book td:nth-of-type(3) {
  width: 8%;
}

.data-list-book th:nth-of-type(4),
.data-list-book td:nth-of-type(4) {
  width: 8%;
}

.data-list-book th:nth-of-type(5),
.data-list-book td:nth-of-type(5) {
  width: 8%;
}

.data-list-book th:nth-of-type(6),
.data-list-book td:nth-of-type(6) {
  width: 10%;
}

.data-list-book th:nth-of-type(7),
.data-list-book td:nth-of-type(7) {
  width: 11%;
}

.data-list-book th:nth-of-type(8),
.data-list-book td:nth-of-type(8) {
  width: 15%;
}

.data-list-book th:nth-of-type(9),
.data-list-book td:nth-of-type(9) {
  width: 20%;
}

.pagenation-box {
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

.pagenation-box .pagenation-btn {
  color: #333;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e0e0e0;
  cursor: pointer
}

.pagenation-box .pagenation-btn:disabled {
  background: #999;
  background-color: #999;
  cursor: auto;
}

.pagenation-box .pagenation-btn-num.act {
  background-color: #4caf50;
  color: #fff;
}

.search-box {
  width: 60%;
  margin-top: 30px;
  text-align: center;
}

.search-box input[type="text"] {
  width: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box .search-btn {
  margin-left: 10px;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.search-box .reset-btn {
  margin-left: 5px;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #777;
  color: #fff;
  cursor: pointer;
}

.question * {
  box-sizing: border-box;
}

.question form {
  padding: 30px 100px;
  background: #ffaeae;
}

.question form h3 {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: right;
}

.question form>div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.question form>div>div,
.question button[type="submit"] {
  flex: 0 0 calc(50% - 10px);
}

.question .form-area label {
  display: none;
}

.question .form-area input,
.question .form-area textarea {
  display: block;
  width: 100%;
  padding: 10px;
}

.question .info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question .info-box input {
  flex: 0 0 calc(33.33% - 13.33333333333333px);
}

.question .btn-area {
  align-items: center;
}

.login h2 {
  color: #333;
  text-align: center;
}

.login-form {
  width: 400px;
  margin: 0 auto 100px;
}

.login-form>p {
  margin-bottom: 10px;
}

.login-form>p:last-child {
  margin-bottom: 0;
}

.login-form label {
  display: none;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.login-form input[type='submit'] {
  background: #ec4242;
  padding: 8px 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.login-form input[type='submit']:hover {
  background: #a82929;
}

.login-form .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-form .links a {
  position: relative;
  font-size: 13px;
}

.login-form .links a::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 1px;
  height: 10px;
  background: #333;
}

.login-form .links a:last-child:after {
  display: none;
}

/* footer */
footer {
  padding: 10px;
  background: #333;
}

footer p {
  color: #fff;
}